.language {
  display: inline;
}
.heading {
  font-size: 20px;
}
.cmp {
  padding: 5px 5px 5px 5px;
}
#source {
  width: 100% !important;
  background: #cccccc52;
  font-size: 20px;
  resize: vertical;
}
.Editor {
  font-size: 20px;
}
#input {
  background: #cccccc52;
  width: 65%;
  resize: vertical;
  font-size: 17px;
  padding-bottom: 5px;
}
#output {
  background: #cccccc52;
  width: 100%;
  height: 100%;
  top: 7.6%;
  right: 0;
  height: 200px;
  resize: vertical;
  font-size: 17px;
  padding-bottom: 20px;
}
.language {
  width: 150px;
}
